---
# SPDX-License-Identifier: Apache-2.0
# Copyright(c) 2025 Wind River Systems, Inc.
- name: Replace OS_REGION_NAME when target is a subcloud
  replace:
    path: "{{ deploy_config }}"
    regexp: '^(\s*OS_REGION_NAME:).*$'
    replace: '\1 {{ os_region_name }}'
  when: >-
    distributed_cloud_role == "subcloud" or
    distributed_cloud_role == ""

- name: Apply deployment configuration with retries
  block:
    - name: Apply deployment configuration file
      shell: kubectl apply -f {{ deploy_config }}
      environment:
        KUBECONFIG: "/etc/kubernetes/admin.conf"
      register: apply_deploy_config

  rescue:
    - name:  Debug after the first apply failure
      debug:
        msg: >
          First apply attempt failed.
          stderr: {{ apply_deploy_config.stderr }}
          stdout: {{ apply_deploy_config.stdout }}

    - name: Retry apply deployment configuration
      shell: kubectl apply -f {{ deploy_config }}
      environment:
        KUBECONFIG: "/etc/kubernetes/admin.conf"
      register: apply_deploy_config
      retries: 4
      delay: 10
      until: apply_deploy_config.rc == 0

    - name: Fail if all retries exhausted
      fail:
        msg: >
          Failed to apply deployment configuration after 5 attempts.
          stderr: {{ apply_deploy_config.stderr }}
          stdout: {{ apply_deploy_config.stdout }}
      when: apply_deploy_config.rc != 0
